{% extends 'base.html' %}
{% block content %}
  <div class="container text-xs-center py-5">
    <div class="row justify-content-center my-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <h3 class="text-uppercase">Career Opportunities</h3>
      </div>
    </div>
    <div class="row justify-content-center my-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <div class="border-top border-bottom">
          <i class="fa fa-users fa-5x p-4"></i>
          <p>
            We are always looking for talented and experienced professionals to join <a href="/about/#team">our team</a> of core developers.
          </p>
          <p>
            Please <a href="/contact-us/">contact us</a> to learn more about working with ACLARK.NET, LLC.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center my-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <a class="btn btn-outline-primary" href="/contact-us/">Contact Us</a>
      </div>
    </div>
  </div>
{% endblock %}
