{% extends 'dashboard/index.html' %}
{% block dashhead_title %}<h2 class="dashhead-title">Delete {{ model_name|title }}</h2>{% endblock %}
{% block dashhead_toolbar %}{% endblock %}
{% block dashboard %}
    <hr>
    <h4>Delete {{ object }}?</h4>
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete this object?</p>
        <input type="submit" value="Yes, delete" class="btn btn-outline-danger">
        <a class="btn btn-outline-primary me-1" href="{% url urls.url_cancel %}">Cancel</a>
    </form>
{% endblock %}
