{% load babel humanize tz %}
{% if field_name == "amount" %}
  {{ field_value|default:0|currencyfmt:"USD" }}
{% elif field_name == "paid_amount" %}
  {{ field_value|default:0|currencyfmt:"USD" }}
{% elif field_name == "cost" %}
  {{ field_value|default:0|currencyfmt:"USD" }}
{% elif field_name == "net" %}
  {{ field_value|default:0|currencyfmt:"USD" }}
{% elif field_name == "balance" %}
  {{ field_value|default:0|currencyfmt:"USD" }}
{% elif field_name == "hours" %}
  {{ field_value|default:0 }}
{% else %}
  {{ field_value|default:"" }}
{% endif %}
