{% load babel humanize %}
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap"
          rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1 style="font-size: 48px; font-weight: bold; margin: 20px 0 10px 0; text-align: left;">INVOICE</h1>
    <div style="text-align: center;">
      <table style="margin: auto;">
        <tr style="padding: 8px 0;">
          <td valign="top"
              style="text-align: right;
                     font-weight: bold;
                     padding: 3px 3px 0 0;
                     border-right: 1px solid #ddd">Subject
          </td>
          <td style="text-align: left; padding: 3px 0 8px 3px;">
            <div>{{ object.name }}</div>
          </td>
        </tr>
        <tr>
          <td valign="top"
              style="text-align: right;
                     font-weight: bold;
                     padding: 3px 3px 0 0;
                     width: 15%;
                     border-right: 1px solid #ddd">Invoice Number
          </td>
          <td valign="top" style="text-align: left; padding: 3px 0 8px 3px;">{{ object.invoice_number }}</td>
          <td valign="top"
              style="text-align: right;
                     font-weight: bold;
                     padding: 3px 3px 0 0;
                     border-right: 1px solid #ddd">From
          </td>
          <td style="text-align: left; padding: 3px 0 8px 3px; width: 30%;">
            <div>
              {{ object.project.client.company }}
              <br>
              {{ object.project.client.company.address|default:""|linebreaksbr }}
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top"
              style="text-align: right;
                     font-weight: bold;
                     padding: 3px 3px 0 0;
                     border-right: 1px solid #ddd">Issue Date
          </td>
          <td valign="top" style="text-align: left; padding: 3px 0 8px 3px;">{{ object.issue_date }}</td>
          <td valign="top"
              style="text-align: right;
                     font-weight: bold;
                     border-right: 1px solid #ddd;
                     padding: 3px 3px 0 0">
            {% if object.project.client %}For{% endif %}
          </td>
          <td style="text-align: left; padding: 0 0 8px 3px;">
            {% if object.project.client %}
              {{ object.project.client }}
              <br>
              {{ object.project.client.address|default:""|linebreaksbr }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <td valign="top"
              style="text-align: right;
                     font-weight: bold;
                     padding: 0 3px 0 0;
                     border-right: 1px solid #ddd">Performance Period
          </td>
          <td style="text-align: left; padding: 0 0 8px 3px;">
            <div>{{ object.start_date }}&mdash;{{ object.end_date }}</div>
          </td>
          <td valign="top"
              style="text-align: right;
                     font-weight: bold;
                     padding: 0 3px 0 0;
                     border-right: 1px solid #ddd">
            {% if object.due_date %}Due Date{% endif %}
          </td>
          <td valign="top" style="text-align: left; padding: 0 0 8px 3px;">
            {% if object.due_date %}{{ object.due_date }}{% endif %}
          </td>
        </tr>
      </table>
    </div>
    <table style="width: 100%; border-collapse: collapse; margin: 20px 0;">
      <tr>
        <th style="border: 1px solid #ddd;
                   background-color: #f2f2f2;
                   padding: 8px;
                   text-align: left;
                   width: 80px;">Date
        </th>
        <th style="border: 1px solid #ddd;
                   background-color: #f2f2f2;
                   padding: 8px;
                   text-align: left;
                   width: 100px;">Task
        </th>
        <th style="border: 1px solid #ddd;
                   background-color: #f2f2f2;
                   padding: 8px;
                   text-align: left;
                   width: 230px;">Description
        </th>
        <th style="border: 1px solid #ddd;
                   background-color: #f2f2f2;
                   padding: 8px;
                   text-align: right;
                   width: 60px;">Quantity
        </th>
        <th style="border: 1px solid #ddd;
                   background-color: #f2f2f2;
                   padding: 8px;
                   text-align: right;
                   width: 80px;">Unit Price
        </th>
        <th style="border: 1px solid #ddd;
                   background-color: #f2f2f2;
                   padding: 8px;
                   text-align: right;
                   width: 80px;">Amount
        </th>
      </tr>
      {% for time_entry in times %}
        <tr>
          <td style="border: 1px solid #ddd; padding: 8px; text-align: left; width: 80px;">{{ time_entry.date }}</td>
          <td style="border: 1px solid #ddd; padding: 8px; text-align: left; width: 100px;">{{ time_entry.task }}</td>
          <td style="border: 1px solid #ddd; padding: 8px; text-align: left; width: 230px;">{{ time_entry.description }}</td>
          <td style="border: 1px solid #ddd; padding: 8px; text-align: right; width: 60px;">{{ time_entry.hours|floatformat:2|intcomma }}</td>
          <td style="border: 1px solid #ddd; padding: 8px; text-align: right; width: 80px;">
            {{ time_entry.task.rate|default:0|currencyfmt:"USD" }}
          </td>
          <td style="border: 1px solid #ddd; padding: 8px; text-align: right; width: 80px;">
            {{ time_entry.amount|default:0|currencyfmt:"USD" }}
          </td>
        </tr>
      {% endfor %}
      <tr>
        <td colspan="5"
            style="border: 1px solid #ddd;
                   border-top: 2px solid #333;
                   padding: 8px;
                   text-align: right;
                   font-weight: bold;">Total Amount:
        </td>
        <td style="border: 1px solid #ddd;
                   border-top: 2px solid #333;
                   padding: 8px;
                   text-align: right;
                   font-weight: bold;
                   width: 80px;">{{ object.amount|default:0|currencyfmt:"USD" }}
        </td>
      </tr>
      {% if object.paid_amount %}
        <tr>
          <td colspan="5"
              style="border: 1px solid #ddd;
                     padding: 8px;
                     text-align: right;
                     font-weight: bold;">Payment:
          </td>
          <td style="border: 1px solid #ddd;
                     padding: 8px;
                     text-align: right;
                     font-weight: bold;
                     color: red;
                     width: 80px;">({{ object.paid_amount|default:0|currencyfmt:"USD" }})
          </td>
        </tr>
        <tr>
          <td colspan="5"
              style="border: 1px solid #ddd;
                     padding: 8px;
                     text-align: right;
                     font-weight: bold;">Balance Due:
          </td>
          <td style="border: 1px solid #ddd;
                     padding: 8px;
                     text-align: right;
                     font-weight: bold;
                     {% if object.balance < 0 %}color: red;{% endif %}
                     width: 80px;">{% if object.balance < 0 %}({{ object.balance|currencyfmt:"USD" }}){% else %}{{ object.balance|default:0|currencyfmt:"USD" }}{% endif %}
          </td>
        </tr>
      {% endif %}
    </table>
  </body>
</html>
