{% load babel humanize %}
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap"
          rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div style="text-align: center;">
      <h1 style="text-align: left; margin: 0; border-bottom: 1px solid #ddd;">{{ model_name|upper }}</h1>
      <table style="margin: auto;">
        <tr style="padding: 8px 0;">
          <td valign="top"
              style="text-align: right;
                     font-weight: bold;
                     padding: 3px 3px 0 0;
                     border-right: 1px solid #ddd">Subject
          </td>
          <td style="text-align: left; padding: 3px 0 8px 3px;">
            <div>{{ object.subject }}</div>
          </td>
        </tr>
        <tr>
          <td valign="top"
              style="text-align: right;
                     font-weight: bold;
                     padding: 3px 3px 0 0;
                     width: 15%;
                     border-right: 1px solid #ddd">Invoice Number
          </td>
          <td valign="top" style="text-align: left; padding: 3px 0 8px 3px;">{{ object.id }}</td>
          <td valign="top"
              style="text-align: right;
                     font-weight: bold;
                     padding: 3px 3px 0 0;
                     border-right: 1px solid #ddd">From
          </td>
          <td style="text-align: left; padding: 3px 0 8px 3px; width: 30%;">
            <div>
              {{ object.project.client.company }}
              <br>
              {{ object.project.client.company.address|default:""|linebreaksbr }}
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top"
              style="text-align: right;
                     font-weight: bold;
                     padding: 3px 3px 0 0;
                     border-right: 1px solid #ddd">Issue Date
          </td>
          <td valign="top" style="text-align: left; padding: 3px 0 8px 3px;">{{ object.issue_date }}</td>
          <td valign="top"
              style="text-align: right;
                     font-weight: bold;
                     border-right: 1px solid #ddd;
                     padding: 3px 3px 0 0">
            {% if object.client or object.user %}For{% endif %}
          </td>
          <td style="text-align: left; padding: 0 0 8px 3px;">
            {% if object.user %}
              {{ object.user.first_name }} {{ object.user.last_name }}
            {% elif object.client %}
              {{ object.client }}
              <br>
              {{ object.client.address|linebreaksbr }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <td valign="top"
              style="text-align: right;
                     font-weight: bold;
                     padding: 0 3px 0 0;
                     border-right: 1px solid #ddd">Performance Period
          </td>
          <td style="text-align: left; padding: 0 0 8px 3px;">
            <div>{{ object.start_date }}&mdash;{{ object.end_date }}</div>
          </td>
          <td valign="top"
              style="text-align: right;
                     font-weight: bold;
                     padding: 0 3px 0 0;
                     border-right: 1px solid #ddd">
            {% if object.due_date %}Due Date{% endif %}
          </td>
          <td valign="top" style="text-align: left; padding: 0 0 8px 3px;">
            {% if object.due_date %}{{ object.due_date }}{% endif %}
          </td>
        </tr>
      </table>
    </div>
    <table style="width: 100%; border-collapse: collapse; margin: 20px 0;">
      <tr>
        <th style="border: 1px solid #ddd;
                   background-color: #f2f2f2;
                   padding: 8px;
                   text-align: left">Date
        </th>
        <th style="border: 1px solid #ddd;
                   background-color: #f2f2f2;
                   padding: 8px;
                   text-align: left">Task
        </th>
        <th style="border: 1px solid #ddd;
                   background-color: #f2f2f2;
                   padding: 8px;
                   text-align: left">Description
        </th>
        <th style="border: 1px solid #ddd;
                   background-color: #f2f2f2;
                   padding: 8px;
                   text-align: left">Quantity
        </th>
        <th style="border: 1px solid #ddd;
                   background-color: #f2f2f2;
                   padding: 8px;
                   text-align: left">Unit Price
        </th>
        <th style="border: 1px solid #ddd;
                   background-color: #f2f2f2;
                   padding: 8px;
                   text-align: left">Amount
        </th>
      </tr>
      {% for time_entry in times %}
        <tr>
          <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">{{ time_entry.date }}</td>
          <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">{{ time_entry.task }}</td>
          <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">{{ time_entry.description }}</td>
          <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">{{ time_entry.hours|floatformat:2|intcomma }}</td>
          <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">
            {{ time_entry.task.rate|default:0|currencyfmt:"USD" }}
          </td>
          <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">
            {{ time_entry.amount|default:0|currencyfmt:"USD" }}
          </td>
        </tr>
      {% endfor %}
    </table>
    <p style="text-align: right; margin-top: 0; margin-bottom: 0;">
      <strong>Total Amount:</strong> {{ object.amount|default:0|currencyfmt:"USD" }}
    </p>
    {% if object.paid_amount %}
      <p style="text-align: right; margin-top: 0; margin-bottom: 0;">
        <strong>Payment:</strong> <span style="color: red">({{ object.paid_amount|default:0|currencyfmt:"USD" }})</span>
      </p>
      <p style="text-align: right; margin-top: 0; margin-bottom: 0;">
        {% if object.balance < 0 %}
          <strong>Balance Due:</strong> <span style="color: red">({{ object.balance|currencyfmt:"USD" }})</span>
        {% else %}
          <strong>Balance Due:</strong>{{ object.balance|default:0|currencyfmt:"USD" }}
        {% endif %}
      </p>
    {% endif %}
  </body>
</html>
