<!-- Modal structure with the data target and ID set to "fakeTextModal" -->
<div class="modal fade"
     id="fakeTextModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lorem Ipsum</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
                <!-- Placeholder content to be updated dynamically -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button"
                class="btn btn-primary btn-copy-bob"
                data-bs-dismiss="modal">Copy to clipboard
        </button>
      </div>
    </div>
  </div>
</div>
