{% extends 'dashboard/index.html' %}
{% load text_filters %}
{% block dashboard_title %}Search{% endblock %}
{% block dashhead_title %}<h2 class="dashhead-title">Search</h2>{% endblock %}
{% block dashboard %}
  {% if search_results %}
    {% include 'pagination/index.html' %}
    <div class="table-responsive border rounded">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            {% for field_name in table_headers %}
              <th>{{ field_name|title_case }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for field_values in field_values_page %}
            {% if field_values %}
              {% with model_name=field_values.0.1 object_id=field_values.1.1 %}
                <tr onclick="window.location='{% url model_name|add:"_view" object_id %}'"
                    style="cursor: pointer">
                  {% for field_name, field_value in field_values %}
                    <td>{{ field_value|format_field_value:field_name }}</td>
                  {% endfor %}
                </tr>
              {% endwith %}
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% include 'pagination/index.html' %}
  {% else %}
    {% include 'empty.html' %}
  {% endif %}
{% endblock %}
