{% extends 'dashboard/index.html' %}
{% block dashboard_title %}
  {% include 'title_block.html' %}
{% endblock %}
{% block dashhead_title %}
  <h2 class="dashhead-title">
    <a class="text-decoration-none text-secondary"
       href="{% url model_name|add:'_index' %}">{{ model_name_plural|title }}</a>
    <i class="fa-solid fa-angle-right"></i> {{ model_name|title }}
  </h2>
{% endblock %}
{% block dashboard %}
  {% include 'toolbars/view.html' %}
  {% if has_preview %}
    {% include 'dashboard/preview.html' %}
  {% endif %}
  {% include 'table/view.html' %}
  {% if has_related and user.is_superuser %}
    {% include 'dashboard/related.html' %}
  {% endif %}
{% endblock %}
