{% extends 'dashboard/index.html' %}
{% block dashboard_title %}
  {% include 'title_block.html' %}
{% endblock %}
{% block dashhead_title %}
  <h2 class="dashhead-title">
    <a class="text-decoration-none text-secondary"
       href="{% url model_name|add:'_index' %}">{{ model_name_plural|title }}</a>
    <i class="fa-solid fa-angle-right"></i> {{ model_name|title }}
  </h2>
{% endblock %}
{% block dashboard %}
  {% include 'toolbars/index.html' %}
  {% if model_name == 'invoice' %}
    {% include 'accordion.html' %}
  {% endif %}
  {% load babel humanize tz %}
  <div class="accordion my-3" id="accordionDetail">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="list-group-item list-group-item-action justify-content-between d-flex fw-semibold p-3 accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseDetail"
                aria-expanded="true"
                aria-controls="collapseDetail">Detail</button>
      </h2>
      <div id="collapseDetail"
           class="accordion-collapse show"
           data-bs-parent="#accordionDetail">
        <div class="accordion-body p-0">
          <table class="table table-striped my-0">
            <tbody>
              {% for field_name, field_value in field_values %}
                <tr>
                  <th>{{ field_name }}</th>
                  <td>
                    {% include 'field_value.html' %}
                  </th>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% if has_related and user.is_superuser %}
    {% include 'related.html' %}
  {% endif %}
  {% if model_name == 'invoice' and user_calculations %}
    <div class="accordion my-3" id="accordionCalculations">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="list-group-item list-group-item-action justify-content-between d-flex fw-semibold p-3 accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseCalculations"
                  aria-expanded="true"
                  aria-controls="collapseCalculations">User Rate Calculations</button>
        </h2>
        <div id="collapseCalculations"
             class="accordion-collapse show"
             data-bs-parent="#accordionCalculations">
          <div class="accordion-body p-0">
            <table class="table table-striped my-0">
              <thead>
                <tr>
                  <th>User</th>
                  <th class="text-end">Hours</th>
                  <th class="text-end">Rate</th>
                  <th class="text-end">Amount</th>
                </tr>
              </thead>
              <tbody>
                {% for calc in user_calculations %}
                  <tr>
                    <td>{{ calc.username }}</td>
                    <td class="text-end">{{ calc.hours|floatformat:2 }}</td>
                    <td class="text-end">
                      {% load babel %}
                      {% if calc.rate %}
                        {{ calc.rate|currencyfmt:"USD" }}
                      {% else %}
                        N/A
                      {% endif %}
                    </td>
                    <td class="text-end">{{ calc.amount|currencyfmt:"USD" }}</td>
                  </tr>
                {% endfor %}
                <tr class="fw-bold">
                  <td>Total</td>
                  <td class="text-end">{{ calc_total_hours|floatformat:2 }}</td>
                  <td class="text-end">-</td>
                  <td class="text-end">{{ calc_total_amount|currencyfmt:"USD" }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
