{% extends 'base.html' %}
{% load static webpack_loader babel %}
{% block title %}ACLARK.NET &middot; Dashboard{% endblock %}
{% block content %}
  <div class="container my-5 py-4">
    <div class="row">
      {% include 'dashboard/sidebar.html' %}
      <div class="col-md-9 content">
        <div class="dashhead">
          <div class="dashhead-title">
            <h6 class="dashhead-subtitle">Dashboards</h6>
            {% block dashhead_title %}<h2 class="dashhead-title text-secondary">Overview</h2>{% endblock %}
          </div>
          <div class="btn-toolbar dashhead-toolbar">
            {% block dashhead_toolbar %}
              {% include 'dashboard/toolbars/dashhead/index.html' %}
            {% endblock %}
          </div>
        </div>
        {% if request.user.is_superuser %}
          {% include 'dashboard/topbar.html' %}
        {% endif %}
        {% block dashboard %}
          {% if request.user.is_superuser %}
            {% include 'dashboard/charts/index.html' %}
          {% endif %}
          {% include 'dashboard/statcards/index.html' %}
          {% if request.user.is_superuser %}
            {% include 'dashboard/invoice.html' %}
          {% endif %}
          {% include 'dashboard/time.html' %}
          {% if request.user.is_superuser %}
            <div class="row">
              {% include 'dashboard/task.html' %}
              {% include 'dashboard/project.html' %}
            </div>
            <div class="row">
              {% include 'dashboard/client.html' %}
              {% include 'dashboard/company.html' %}
            </div>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
  {% include 'dashboard/modal/lorem.html' %}
  {% include 'dashboard/modal/hijack.html' %}
  {% include 'dashboard/modal/fullscreen.html' %}
{% endblock %}
