{% extends 'base.html' %}
{% load static webpack_loader babel humanize %}

{% block title %}ACLARK.NET &middot; Dashboard{% endblock %}

{% block content %}
  <div class="container my-5 py-4">
    <div class="row">
      {% include 'dashboard/sidebar.html' %}

      <div class="col-md-9 content">
                {# Dashboard Header #}
        <div class="dashhead">
          <div class="dashhead-title">
            <h6 class="dashhead-subtitle">Dashboards</h6>
            {% block dashhead_title %}
              <h2 class="dashhead-title text-secondary">Overview</h2>
            {% endblock %}
          </div>
          <hr style="border-color: #1997C6" class="m-0">
          <div class="btn-toolbar dashhead-toolbar">
            {% block dashhead_toolbar %}
              {% include 'dashhead.html' %}
            {% endblock %}
          </div>
        </div>


                {# Main Dashboard Content #}
        {% block dashboard %}
                    {# Admin Charts #}
          {% if request.user.is_superuser %}
            <div class="row my-3">
              {% include 'charts/revenue.html' %}
              {% include 'charts/time.html' %}
            </div>
          {% endif %}

                    {# Stat Cards #}
          {% if request.user.is_superuser %}
            {% include 'statcards/revenue.html' %}
          {% endif %}
          {% include 'statcards/clock.html' %}

                    {# Invoices (Admin Only) #}
          {% if request.user.is_superuser %}
            {% include 'dashboard/invoice.html' %}
          {% endif %}

          {% if request.user.is_superuser %}
            {% include 'dashboard/project.html' %}
          {% endif %}

                    {# Time Tracking (All Users) #}
          {% include 'dashboard/time.html' %}

                    {# Admin Data Grids #}
          {% if request.user.is_superuser %}
            <div class="row">
              {% include 'dashboard/client.html' %}
              {% include 'dashboard/task.html' %}
            </div>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
