{% load babel %}
<div class="accordion my-3" id="accordionInvoice">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="list-group-item list-group-item-action justify-content-between d-flex fw-semibold p-3 accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseInvoice"
              aria-expanded="true"
              aria-controls="collapseInvoice">
        Invoice <span class="badge bg-primary mx-2">{{ invoices.queryset|length }}</span>
      </button>
    </h2>
    <div id="collapseInvoice"
         class="accordion-collapse collapse show"
         data-bs-parent="#accordionInvoice">
      <div class="accordion-body p-0">
        <div class="row">
          <div class="col-md-12">
            <div class="list-group list-group-flush mb-3">
              {% for item in invoices.queryset %}
                <a class="list-group-item list-group-item-action justify-content-between d-flex"
                   href="{% url 'invoice_view' item.id %}">
                  <span class="">{{ item.description|default:item }}</span>
                  <span class="text-muted">{{ item.amount|currencyfmt:"USD" }}</span>
                </a>
              {% endfor %}
            </div>
            <a href="{% url 'invoice_index' %}"
               class="btn btn-outline-primary m-3 px-3">All invoices</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
