<div class="col-md-3 sidebar">
  <nav class="sidebar-nav">
    <div class="sidebar-header">
      <button class="nav-toggler nav-toggler-md sidebar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#nav-toggleable-md">
        <span class="sr-only">Toggle nav</span>
      </button>
      <a class="sidebar-brand img-responsive" href="{% url 'dashboard' %}">
        <i class="fa-solid fa-leaf fa-2x"></i><span class="visually-hidden">Link text</span>
      </a>
    </div>
    <div class="collapse nav-toggleable-md" id="nav-toggleable-md">
      {% if request.user.is_superuser %}
        <form class="sidebar-form" action="{% url 'search_index' %}" method="get">
          <input class="form-control border bg-transparent"
                 name="q"
                 type="text"
                 placeholder="Search...">
          <button type="submit" class="btn btn-link" style="color: #A2A9B1">
            <i class="fa-solid fa-magnifying-glass"></i><span class="visually-hidden">Link text</span>
          </button>
        </form>
      {% endif %}
      {% if request.user.is_authenticated and not request.user.is_superuser %}
        <ul class="nav nav-pills nav-stacked flex-column">
          <li class="nav-header">Dashboards</li>
          <li class="nav-item">
            <a class="nav-link {% if overview_nav %}active{% endif %}"
               href="{% url 'dashboard' %}">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if time_nav %} active{% endif %}"
               href="{% url 'time_index' %}">Times</a>
          </li>
        </ul>
      {% endif %}
      {% if request.user.is_superuser %}
        <ul class="nav nav-pills nav-stacked flex-column mt-5">
          <li class="nav-header">Dashboards</li>
          <li class="nav-item">
            <a class="nav-link{% if invoice_nav %} active{% endif %}"
               href="{% url 'invoice_index' %}">Invoices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if time_nav %} active{% endif %}"
               href="{% url 'time_index' %}">Times</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if project_nav %} active{% endif %}"
               href="{% url 'project_index' %}">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if client_nav %} active{% endif %}"
               href="{% url 'client_index' %}">Clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if note_nav %} active{% endif %}"
               href="{% url 'note_index' %}">Notes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if task_nav %} active{% endif %}"
               href="{% url 'task_index' %}">Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if user_nav %} active{% endif %}"
               href="{% url 'user_index' %}">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if report_nav %} active{% endif %}"
               href="{% url 'report_index' %}">Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if contact_nav %} active{% endif %}"
               href="{% url 'contact_index' %}">Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if company_nav %} active{% endif %}"
               href="{% url 'company_index' %}">Companies</a>
          </li>
        </ul>
      {% endif %}
      <hr class="visible-xs mt-3">
    </div>
  </nav>
</div>
