{% load babel %}
<div class="col-md-6">
  <div class="accordion my-3" id="accordionTask">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="list-group-item list-group-item-action justify-content-between d-flex fw-semibold p-3 accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTask"
                aria-expanded="true"
                aria-controls="collapseTask">
          Tasks <span class="badge bg-primary mx-2">{{ tasks.queryset|length }}</span>
        </button>
      </h2>
      <div id="collapseTask"
           class="accordion-collapse collapse show"
           data-bs-parent="#accordionTask">
        <div class="accordion-body p-0">
          <div class="list-group list-group-flush mb-3">
            {% for item in tasks.queryset %}
              <a class="list-group-item list-group-item-action justify-content-between d-flex"
                 href="{% url 'task_view' item.id %}">
                <span>{{ item }}</span>
                <span class="text-muted">{{ item.rate|default:0|currencyfmt:"USD" }}</span>
              </a>
            {% endfor %}
          </div>
          <a href="{% url 'task_index' %}"
             class="btn btn-outline-primary m-3 px-3">All tasks</a>
        </div>
      </div>
    </div>
  </div>
</div>
