<nav class="topbar-nav">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if invoice_nav %}active{% endif %}"
         aria-current="page"
         href="{% url 'invoice_index' %}">Invoices</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if project_nav %}active{% endif %}"
         aria-current="page"
         href="{% url 'project_index' %}">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if time_nav %}active{% endif %}"
         aria-current="page"
         href="{% url 'time_index' %}">Times</a>
    </li>
  </ul>
</nav>
