{% load wagtailcore_tags %}
<footer class="py-5 text-center text-small footer mt-auto border-top py-3">
  {% wagtail_site as current_site %}
  <p class="mb-1">&copy; 2004 &mdash; {% now "Y" %} ACLARK.NET, LLC</p>
  <ul class="list-inline">
    <li class="list-inline-item">
      <a class="text-secondary text-decoration-none {% if request.path == '/' %}active{% endif %}"
         href="/">Home</a>
    </li>
    {% for child in current_site.root_page.get_children %}
      <li class="list-inline-item">
        <a class="text-secondary text-decoration-none {% if request.path == child.url %}active{% endif %}"
           href="{{ child.url }}">{{ child }}</a>
      </li>
    {% endfor %}
  </ul>
  <a class="text-light mx-1"
     target="_blank"
     href="https://linkedin.com/company/aclarknetllc"><i class="fa-brands fa-linkedin fa-3x"></i><span class="visually-hidden">Link text</span></a>
  <a class="text-light mx-1"
     target="_blank"
     href="https://github.com/aclark4life/aclarknet"><i class="fa-brands fa-github fa-3x"></i><span class="visually-hidden">Link text</span></a>
</footer>
