{% load wagtailcore_tags static %}
{% wagtail_site as current_site %}
<div class="app-header" style="background-image: url({% static 'img/startup-1.jpg' %})";
     <div class="app-graph">
  <div class="container py-2 app-navbar">
    <nav class="navbar navbar-transparent navbar-padded navbar-expand-md">
      <a class="navbar-brand me-auto text-light p-2 font-monospace border border-light"
         href="/">ACLARK.NET,LLC</a>
      <button class="navbar-toggler p-3"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasExample"
              aria-controls="offcanvasExample"
              aria-expanded="false"
              aria-label="Toggle navigation"></button>
      <div class="d-none d-md-block">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a id="home-nav"
               class="nav-link"
               aria-current="page"
               href="/">Home</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-nowrap exclude-from-hover "
               aria-current="page"
               href="/about/">About</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/about/#team">Team</a>
              </li>
              <li>
                <a class="dropdown-item" href="/about/#dcpython">Community</a>
              </li>
              <li>
                <a class="dropdown-item" href="/about/#book">Publications</a>
              </li>
            </ul>
          </li>





          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-nowrap exclude-from-hover "
               aria-current="page"
               href="/clients/">Clients</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/clients/#testimonials">Testimonials</a>
              </li>
            </ul>
          </li>





          <li class="nav-item">
            <a class="nav-link text-nowrap "
               aria-current="page"
               href="/services/">Services</a>
          </li>





          <li class="nav-item">
            <a class="nav-link text-nowrap "
               aria-current="page"
               href="/careers/">Careers</a>
          </li>


          <li class="nav-item">
            <a class="nav-link text-nowrap "
               aria-current="page"
               href="/contact-us/">Contact Us</a>
          </li>

        </ul>
      </div>
    </nav>
  </div>
</div>
</div>
{% include 'blocks/lead_block.html' %}
