{% load wagtailcore_tags %}
{% wagtail_site as current_site %}
<nav class="preview-nav navbar navbar-expand-md">
  <div class="container">
    <a class="navbar-brand brand-mark" href="/">
      <span class="main">ACLARK<span class="net">.NET</span><span class="sep">,</span>&nbsp;</span><span class="llc">LLC</span>
    </a>
    <button class="navbar-toggler border-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNav"
            aria-controls="mainNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto align-items-center gap-1">
        <li class="nav-item">
          <a id="home-nav"
             class="nav-link {% if request.path == '/' %}active{% endif %}"
             aria-current="page"
             href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if request.path == '/about/' %}active{% endif %}"
             href="/about/">About</a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="/about/#team">Team</a></li>
            <li><a class="dropdown-item" href="/about/#history">History</a></li>
            <li><a class="dropdown-item" href="/about/#dcpython">Community</a></li>
            <li><a class="dropdown-item" href="/about/#book">Publications</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/blog/">Blog</a></li>
            <li><a class="dropdown-item" href="/now/">Now</a></li>
            <li><a class="dropdown-item" href="{% url 'python_pillow' %}">Python Pillow</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if request.path == '/clients/' %}active{% endif %}"
             href="/clients/">Clients</a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="/clients/#testimonials">Testimonials</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/services/' %}active{% endif %}"
             href="/services/">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/careers/' %}active{% endif %}"
             href="/careers/">Careers</a>
        </li>
        <li class="nav-item ms-2">
          <a class="btn-nav-cta" href="/contact-us/">Contact Us</a>
        </li>
        {% if request.user.is_authenticated %}
          <li class="nav-item dropdown ms-3">
            <a class="nav-link dropdown-toggle d-flex align-items-center gap-2"
               href="#"
               data-bs-toggle="dropdown"
               aria-expanded="false">
              <i class="fa-solid fa-circle-user fs-5"></i>
              <span>{{ request.user.get_short_name|default:request.user.username }}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
              <li>
                <a class="dropdown-item" href="{% url 'profile_view' %}"><i class="fa-solid fa-user me-2"></i>Profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'dashboard' %}"><i class="fa-solid fa-gauge me-2"></i>Dashboard</a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item" href="{% url 'account_logout' %}"><i class="fa-solid fa-right-from-bracket me-2"></i>Sign Out</a>
              </li>
            </ul>
          </li>
        {% else %}
          <li class="nav-item ms-3">
            <a class="nav-link" href="{% url 'account_login' %}" title="Sign In"><i class="fa-solid fa-circle-user fs-5"></i></a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
