{% extends 'base.html' %}
{% block title %}ACLARK.NET &middot; Services{% endblock %}
{% block content %}
  <div class="container text-xs-center py-5">
    <div class="row mb-3 justify-content-center">
      <div class="col-10 col-sm-8 col-lg-6">
        <h6 class="text-dark text-uppercase mb-2">Services</h6>
      </div>
    </div>
    <h2 class="my-3" id="consulting">Consulting</h2>
    <div class="row app-marketing-grid">
      <div class="col-md-4 px-4 mb-5">
        <div class="text-uppercase h6">IT Consulting</div>
        <p class="text-start">
          We are technology subject matter experts whose
          expertise includes open source software &amp; related technologies,
          including:
        </p>
        <ul class="ps-4 text-start" style="list-style-type: square;">
          <li>Backup and Security</li>
          <li>
            Cloud and Cloud-Related Services
            <ul class="ps-1">
              <li>Amazon Web Services</li>
            </ul>
          </li>
          <li>Data Conversion</li>
          <li>Introduction to New Information Technology</li>
          <li>Network Management</li>
          <li>Software Maintenance</li>
        </ul>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <div class="text-uppercase h6">IT Outsourcing</div>
        <p class="text-start">
          We are here to takeover, improve, maintain and
          manage critical IT infrastructure for your organization (so your
          organization can focus on its mission), including:
        </p>
        <ul class="ps-4 text-start" style="list-style-type: square;">
          <li>Cloud IT Acquisition Services</li>
          <li>Data Center Services</li>
          <li>Health IT Services</li>
          <li>Implementation Services</li>
          <li>Maintenance and Support</li>
        </ul>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <div class="text-uppercase h6">Training</div>
        <p class="text-start">
          We believe training is of critical importance
          to the success of your project and offer quality training on a
          variety of technical subjects, including:
        </p>
        <ul class="ps-4 text-start" style="list-style-type: square;">
          <li>Agile Methodology</li>
          <li>Django Web Application Development</li>
          <li>
            Content Management Systems
            <ul class="ps-1">
              <li>Developer &amp; Integrator Training</li>
              <li>End User Training</li>
            </ul>
          </li>
          <li>Python Programming</li>
        </ul>
      </div>
    </div>
    <h2 class="my-3" id="software">Software</h2>
    <div class="row app-marketing-grid">
      <div class="col-md-4 px-4 mb-5">
        <div class="text-uppercase h6">Development</div>
        <p class="text-start">
          We excel at developing custom software and
          delivering exceptional results. We build Python-based web
          applications and iOS applications with:
        </p>
        <ul class="text-start ps-4" style="list-style-type: square;">
          <li>Django</li>
          <li>Python</li>
          <li>React</li>
        </ul>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <div class="text-uppercase h6">Engineering</div>
        <p class="text-start">
          We are computer scientists on a mission to
          build the best possible software by applying established principles
          of software engineering to software development, including:
        </p>
        <ul class="ps-4 text-start" style="list-style-type: square;">
          <li>Architecture</li>
          <li>Process Improvement</li>
          <li>Security</li>
        </ul>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <div class="text-uppercase h6">Testing</div>
        <p class="text-start">
          We test all the code we write to ensure that
          it performs as expected, meets all the requirements, and runs where
          it's supposed to run. We use, among others:
        </p>
        <ul class="ps-4 text-start" style="list-style-type: square;">
          <li>Coverage</li>
          <li>PyTest</li>
          <li>UnitTest</li>
        </ul>
      </div>
    </div>
    <h2 class="my-3" id="systems">Systems</h2>
    <div class="row app-marketing-grid">
      <div class="col-md-4 px-4 mb-5">
        <div class="text-uppercase h6">System Maintenance</div>
        <p class="text-start">
          We perform mission critical maintenance on
          cloud, software and other IT systems:
        </p>
        <ul class="ps-4 text-start" style="list-style-type: square;">
          <li>Application Updates</li>
          <li>OS Updates</li>
          <li>Security Updates</li>
        </ul>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <div class="text-uppercase h6">Optimization</div>
        <p class="text-start">
          We are performance experts whose mission is to
          find performance issues and resolve them by increasing efficiency
          and reducing resource consumption with tools like:
        </p>
        <ul class="ps-4 text-start" style="list-style-type: square;">
          <li>Jenkins</li>
          <li>Lighthouse</li>
          <li>Sentry</li>
        </ul>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <div class="text-uppercase h6">Technical Support</div>
        <p class="text-start">
          We provide mission critical technical support
          for a variety of business applications and IT systems,
          including:
        </p>
        <ul class="ps-4 text-start" style="list-style-type: square;">
          <li>Content Management Systems</li>
          <li>Web Applications</li>
          <li>Cloud Services</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
