__pycache__
*.pyc
dist/
node_modules/
_build/
.elasticbeanstalk/
aclarknet.sql

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.python-version
.envrc
aclarknet.egg-info/
