{% load static %}
<div class="block block-inverse block-secondary app-code-block bg-black"
     id="dcpython">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6 lead">
        <div class="h2 text-uppercase my-5">
          <a href="https://dcpython.org"
             target="_blank"
             class="text-decoration-none text-light">DC Python</a>
        </div>
        <p>
          We created the 501(c)(3) non-profit organization, ZPUGDC, Inc. (DC Python) in 2008 to expand our efforts, outreach and to give back to the users and supporters of open source technology. The organization's primary focus is serving the members of the Washington, D.C., Maryland, and Virginia Python and open-source software community. However, our support also extends to a much larger scope of open-source technology efforts, worldwide. Among our most significant global contributions was the organization and hosting of The International Plone Conference 2008.
        </p>
        <p>
          We maintain our leadership in the organization today, ensuring that DC Python's commitment to its mission continues.
        </p>
      </div>
      <div class="col-6 p-5">
        <img class="img-fluid img-thumbnail m-5 w-3"
             src="{% static 'img/ploneconf.png' %}">
        <img class="img-fluid img-thumbnail m-5 w-3"
             src="{% static 'img/ploneconf-group.jpg' %}">
      </div>
    </div>
  </div>
</div>
