{% load static %}
<div class="block block-inverse app-high-praise"
     style="background-image: url({% static 'img/startup-3.webp' %});
            background-position: top">
  <div class="container">
    <div class="row app-align-center py-3 justify-content-end">
      <div class="col-sm-7 col-md-5 py-5 high-praise">
        <div class="text-muted text-uppercase h6">
          <a class="text-decoration-none text-light"
             href="/clients/#testimonials"
             id="highpraise-block">Testimonials</a>
        </div>
        <h2 class="mb-4">"{{ testimonial.description }}"</h2>
        <p class="mb-4 text-muted">
          &mdash;{{ testimonial.name }}
        </p>
      </div>
    </div>
  </div>
</div>
