<div class="container">
    <div class="row my-5">
        <div class="h5 text-center text-uppercase">Mission</div>
        <p>
            Since 2004, our goal has been to advance the use of open source and related software technology by successfully undertaking a variety of professional endeavors throughout the years. Alex Clark is the creator and Project Lead for Pillow; we are the organizers and leaders of the 501(c)(3) organization, DC Python; and we were the Lead Organizers and Hosts of Plone Conference 2008. From Amtrak to USAID, we consistently develop and deliver quality, successful open source software, consulting, training, hosting, and support for organizations all over the United States and Worldwide. We will maintain our commitment to grow our outreach and increase our involvement with open source technology and the community that depends on it.
        </p>
    </div>
</div>
