{% load static %}
<div class="block block-inverse block-secondary app-code-block">
    <div class="container">
        <div class="row app-align-center align-items-center">
            <div class="col-md-6 p-5">
                <div class="text-uppercase h6">Python Pillow</div>
                <h2>In 2010 Alex Clark created Pillow, a software development fork of the Python Imaging Library.</h2>
                <p class="lead mb-4">
                    As of early 2017, Pillow has been downloaded over 15 million times, can be found in many major Linux distributions such as Ubuntu and Fedora Core, and is used by Fortune-100-serving companies like Atlassian.
                    As of 2019, professional Pillow support is <a class="text-decoration-none"
    target="_blank"
    href="https://tidelift.com/subscription/pkg/pypi-pillow">available from Tidelift.</a>
                </p>
                <a target="_blank"
                   href="https://pillow.readthedocs.io/en/stable/"
                   class="btn btn-light btn-lg">Read our docs</a>
            </div>
            <div class="col-md-6 ml-auto p-5">
                <div class="ratio ratio-16x9">
                    <iframe width="560"
                            height="315"
                            src="https://www.youtube.com/embed/tpeFP4ehvUY?si=mCqDdYACQh6mhZzR"
                            title="YouTube video player"
                            class="img-fluid bg-light rounded p-1"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
