{% load static %}
<div class="app-ribbon p-3">
  <div class="container text-xs-center">
    <div class="h6 p-1">
      <a class="text-uppercase text-decoration-none text-light"
         id="ribbon-block"
         href="/clients">Clients</a>
    </div>
    <img width=200 src="{% static 'img/startup-4.svg' %}">
    <img width=200 src="{% static 'img/startup-5.webp' %}">
    <img width=200 src="{% static 'img/startup-6.webp' %}">
    <img width=200 src="{% static 'img/startup-7.webp' %}">
  </div>
</div>
