{% load static %}
<section class="preview-ribbon py-4">
  <div class="container">
    <p class="text-center section-eyebrow mb-3" style="color:rgba(255,255,255,0.55);">
      <a class="text-decoration-none" style="color:inherit;" id="ribbon-block" href="/clients/">Selected Clients</a>
    </p>
    <div class="d-flex justify-content-center align-items-center flex-wrap gap-5">
      <img height="28" src="{% static 'img/jhu-logo.svg' %}" alt="Johns Hopkins University">
      <img height="28" src="{% static 'img/nasa-logo.webp' %}" alt="NASA">
      <img height="28" src="{% static 'img/national-geographic-logo.webp' %}" alt="National Geographic">
      <img height="28" src="{% static 'img/pbs-logo.svg' %}" alt="PBS">
    </div>
  </div>
</section>
