<div class="d-flex justify-content-center my-3">
  <div class="btn-group" role="group" aria-label="Basic example">
    <a href="/blog"
       type="button"
       class="btn {% if blog_nav %}bg-secondary{% else %}btn-outline-secondary{% endif %}">Blog</a>
    <a href="/now"
       type="button"
       class="btn {% if now_nav %}bg-secondary{% else %}btn-outline-secondary{% endif %}">Now</a>
    <a href="/resume"
       type="button"
       class="btn {% if resume_nav %}bg-secondary{% else %}btn-outline-secondary{% endif %}">Résumé</a>
  </div>
</div>
