@import "~bootstrap/scss/bootstrap";
@import "theme-marketing/application-startup";
@import "theme-marketing/toolkit-startup";
@import "theme-dashboard/toolkit-light";
@import "theme-dashboard/toolkit-inverse";
@import "theme-aclarknet/index";
@import "puput";

#theme-toggler-authenticated:hover {
    cursor: pointer; /* Change cursor to pointer on hover */
    color: #007bff; /* Change color on hover */
}

#theme-toggler-anonymous:hover {
    cursor: pointer; /* Change cursor to pointer on hover */
    color: #007bff; /* Change color on hover */
}

.accordion-button {
    background: transparent !important;
}
