// Define custom theme colors before importing Bootstrap
$theme-colors: (
  "primary": #0d6efd,
  "secondary": #6c757d,
  "success": #198754,
  "info": #0dcaf0,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #212529,
  "dashboard": #1997c6
);

@import "~bootstrap/scss/bootstrap";
@import "theme-marketing/application-startup";
@import "theme-marketing/toolkit-startup";
@import "theme-dashboard/toolkit-light";
@import "theme-dashboard/toolkit-inverse";
@import "theme-aclarknet/index";
@import "puput";

// Custom button outline styles for dashboard color
.btn-outline-dashboard {
    --bs-btn-bg: #fff;
}

#theme-toggler-authenticated:hover {
    cursor: pointer; /* Change cursor to pointer on hover */
    color: #007bff; /* Change color on hover */
}

#theme-toggler-anonymous:hover {
    cursor: pointer; /* Change cursor to pointer on hover */
    color: #007bff; /* Change color on hover */
}

.accordion-button {
    background: transparent !important;
}
