option_settings:
  aws:elbv2:listener:443:
    DefaultProcess: default
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-1:014889281015:certificate/8f315deb-37ee-4b86-ac62-02280737f5ec
  aws:elasticbeanstalk:environment:process:default:
    Port: '80'
    Protocol: HTTP
  aws:elasticbeanstalk:command:
    Timeout: 900
