option_settings:
  aws:elasticbeanstalk:application:environment:
      AWS_ACCESS_KEY_ID: "{{resolve:ssm:ACCESS_KEY_ID_AWS}}"
      AWS_SECRET_ACCESS_KEY: "{{resolve:ssm:SECRET_ACCESS_KEY_AWS}}"
      DATABASE_URL: "{{resolve:ssm:DATABASE_URL}}"
      DJANGO_SETTINGS_MODULE: backend.settings.production
      GITHUB_CLIENT_ID: "{{resolve:ssm:GITHUB_CLIENT_ID}}"
      GITHUB_SECRET: "{{resolve:ssm:GITHUB_SECRET}}"
      GITHUB_KEY: "{{resolve:ssm:GITHUB_KEY}}"
      LOGFIRE_TOKEN: "{{resolve:ssm:LOGFIRE_TOKEN}}"
      RECAPTCHA_PRIVATE_KEY: "{{resolve:ssm:RECAPTCHA_PRIVATE_KEY}}"
      RECAPTCHA_PUBLIC_KEY: "{{resolve:ssm:RECAPTCHA_PUBLIC_KEY}}"
      SECRET_KEY: "{{resolve:ssm:SECRET_KEY}}"
      SENDGRID_API_KEY: "{{resolve:ssm:SENDGRID_API_KEY}}"
      OTEL_INSTRUMENTATION_HTTP_CAPTURE_HEADERS_SERVER_REQUEST: ".*"
      OTEL_INSTRUMENTATION_HTTP_CAPTURE_HEADERS_SERVER_RESPONSE: ".*"
      OTEL_INSTRUMENTATION_HTTP_CAPTURE_HEADERS_SANITIZE_FIELDS: "Authorization"
  aws:elasticbeanstalk:environment:process:default:
    Port: '80'
    Protocol: HTTP
  aws:elasticbeanstalk:command:
    Timeout: 900
  aws:elbv2:listener:443:
    DefaultProcess: default
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-1:014889281015:certificate/8f315deb-37ee-4b86-ac62-02280737f5ec
