<input type="hidden" name="model_name" value="{{ model_name }}">
<div class="d-flex justify-content-end">
  <div class="btn-group me-1" role="group">
    <button type="submit"
            id="delete-selected-btn"
            name="action"
            value="delete"
            class="btn btn-outline-danger"
            style="display: none">Delete</button>
    <button type="submit"
            id="archive-selected-btn"
            name="action"
            value="archive"
            class="btn btn-outline-primary"
            style="display: none">Archive</button>
    <button type="submit"
            id="unarchive-selected-btn"
            name="action"
            value="unarchive"
            class="btn btn-outline-primary"
            style="display:none">Un-Archive</button>
    <button type="submit"
            id="html-selected-btn"
            name="action"
            value="html"
            class="btn btn-outline-primary"
            style="display: none">HTML</button>
    <button type="submit"
            id="unhtml-selected-btn"
            name="action"
            value="unhtml"
            class="btn btn-outline-primary"
            style="display:none">Un-HTML</button>
    <button type="submit"
            id="save-selected-btn"
            name="action"
            value="save"
            class="btn btn-outline-primary"
            style="display: none">Save</button>
  </div>
</div>
