{% if not dashboard %}
  <main class="d-flex flex-column">
    {% if not search %}
      <h1>Get started with {{ model_name_plural }}</h1>
    {% else %}
      <h1>
        Get started with a <a class="text-secondary text-decoration-none" href="?q=t">test search</a>
      </h1>
    {% endif %}
    {% if not search %}
      <p class="lead">Cultivate your digital garden with {{ model_name_plural }}</p>
    {% else %}
      <p class="lead">
        Cultivate your digital garden with <a class="text-secondary text-decoration-none" href="?q=t">test search</a>
      </p>
    {% endif %}
    <p>
      Welcome to a world of possibilities, where your creativity can flourish and your dreams can take root. As you embark on this journey with us, let the seeds of your imagination blossom into beautiful creations.
    </p>
    <p>
      Yet, it appears that your garden is still awaiting its first bloom. Fear not, for we are here to help! You have not yet created any <span class="fw-bold">{{ model_name_plural }}</span> data, but worry not, for we have made it easy for you to get started.
    </p>
    <p>
      Just like a skilled gardener, you can plant the seeds of your <span class="fw-bold">{{ model_name_plural }}</span> and watch them grow into something truly remarkable. With just a few simple steps, you can bring your vision to life and marvel at the splendor of your digital garden.
    </p>
    {% if not search %}
      <p>
        So why wait? Take the first step and add an <span class="fw-bold">{{ model_name_plural }}</span> to your garden today. Let your creativity flourish and watch your web application thrive with the beauty of your creations. Get ready to cultivate a world of possibilities and let your digital garden bloom with <span class="fw-bold">{{ model_name_plural }}</span>!
      </p>
    {% else %}
      <p>
        So why wait? Take the first step and add an <span class="fw-bold">{{ model_name_plural }}</span> to your garden today. Let your creativity flourish and watch your web application thrive with the beauty of your creations. Get ready to cultivate a world of possibilities and let your digital garden bloom with a <a class="text-secondary text-decoration-none" href="?q=t">test search</a>!
      </p>
    {% endif %}
  </main>
  <div class="btn-toolbar dashhead-toolbar">
    {% if not search %}
      <a class="btn-toolbar-item input-with-icon btn btn-outline-primary"
         href="{% url urls.url_create %}"><i class="fa-solid fa-plus"></i> Add {{ model_name }}</a>
    {% else %}
      <a class="btn-toolbar-item input-with-icon btn btn-outline-primary"
         href="?q=t"><i class="fa-solid fa-magnifying-glass"></i> Search</a>
    {% endif %}
  </div>
{% endif %}
