{% load babel humanize tz %}
<div class="table-responsive border rounded">
  <table class="table table-striped my-0">
    <tbody>
      <tr>
        <th valign="top">Created</th>
        <td>{{ object.created }}</td>
      </tr>
      <tr>
        <th valign="top">Updated</th>
        <td>{{ object.updated }}</td>
      </tr>
      {% for field_name, field_value in field_values %}
        <tr>
          <th>{{ field_name|title }}</th>
          <td>
            {% include 'dashboard/table/field_value.html' %}
          </th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
