{% if dataset_times.0 > 0 %}
    <div class="col-md-4 mb-4 mb-md-3">
        <div class="w-3 mx-auto text-center">
            <canvas class="ex-graph"
                    width="200"
                    height="200"
                    data-chart="doughnut"
                    data-dataset="{{ dataset_times }}"
                    data-dataset-options='{ "borderColor": "#252830", "backgroundColor": ["#1ca8dd", "#1bc98e"] }'
                    data-labels='["Entered", "Approved"]'>
            </canvas>
            <strong class="text-muted">Entered vs. Approved</strong>
        </div>
    </div>
{% else %}
    <div class="col-md-4 mb-4 mb-md-3">
        <div class="w-3 mx-auto text-center">
            <canvas class="ex-graph"
                    width="200"
                    height="200"
                    data-chart="doughnut"
                    data-dataset="[33, 33]"
                    data-dataset-options='{ "borderColor": "#252830", "backgroundColor": ["#1ca8dd", "#1bc98e"] }'
                    data-labels='["Entered", "Approved"]'>
            </canvas>
            <strong class="text-muted">No data</strong>
        </div>
    </div>
{% endif %}
