<a class="btn btn-outline-primary btn-block d-flex align-items-center"
   data-toggle="tooltip"
   title="Download DOC"
   href="{% url url_export_doc object_id=object.id %}"><i class="fa-solid fa-file-word"></i><span class="visually-hidden">Link text</span></a>
<a class="btn btn-outline-primary btn-block d-flex align-items-center"
   data-toggle="tooltip"
   title="Download PDF"
   href="{% url url_export_pdf object_id=object.id %}"><i class="fa-solid fa-file-pdf"></i><span class="visually-hidden">Link text</span></a>
