<a class="btn btn-outline-primary btn-block d-flex align-items-center"
   data-toggle="tooltip"
   title="Email Text"
   href="{% url url_email_text object_id=object.id %}"><i class="fa-solid fa-file-lines"></i><span class="visually-hidden">Link text</span></a>
<a class="btn btn-outline-primary btn-block d-flex align-items-center"
   data-toggle="tooltip"
   title="Email DOC"
   href="{% url url_email_doc object_id=object.id %}"><i class="fa-solid fa-file-word"></i><span class="visually-hidden">Link text</span></a>
<a class="btn btn-outline-primary btn-block d-flex align-items-center"
   data-toggle="tooltip"
   title="Email PDF"
   href="{% url url_email_pdf object_id=object.id %}"><i class="fa-solid fa-file-pdf"></i><span class="visually-hidden">Link text</span></a>
